NEXT_PUBLIC_SITE_URL=https://dtfstudio.site
ADMIN_PASSWORD=
MOLLIE_API_KEY=
BLOB_READ_WRITE_TOKEN=
RESEND_API_KEY=
CONTACT_EMAIL=jacqrodtf@gmail.com
ENABLE_TEST_ORDER=
TEST_ORDER_KEY=
AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=appPzXK54vI427vDL
AIRTABLE_TABLE=Заказы плёнки
